.gpt3__blog {
  display: flex;
  flex-direction: column;
}

.gpt3__blog-heading {
  width: 100%;
  text-align: left;

  margin-bottom: 5rem;
}

.gpt3__blog-heading h1 {
  font-size: 62px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 800;
}

.gpt3__blog-container {
  display: flex;
  flex-direction: row;
}

.gpt3__blog-container_groupA {
  flex: 0.75;
  margin-right: 2rem;
}

.gpt3__blog-container_groupB {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
  .gpt3__blog-container {
    flex-direction: column-reverse;
  }

  .gpt3__blog-container_groupA {
    margin: 2rem 0;
  }

  .gpt3__blog-container_groupA .gpt3__blog-container_article {
    width: 48%;
  }

  .gpt3__blog-container_groupA .gpt3__blog-container_article-image {
    height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }

  .gpt3__blog-container_groupA .gpt3__blog-container_article {
    width: 100%;
  }

  .gpt3__blog-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
.gpt3__blog-container button {
  margin-left: 715px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  padding: 0.5rem 1rem; /* Kept from your styles */
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-weight: 500; /* Kept from your styles */
  outline: none; /* Kept from your styles */
}

.gpt3__blog-container button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.gpt3__blog-container button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.gpt3__blog-container button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
