@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* ROOT VARIABLES */
:root {
  /* Typography */
  --font-family: "Manrope", sans-serif;

  /* Brand Gradients */
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  /* Theme Colors */
  --color-bg: #040404;        /* background */
  --color-footer: #031b34;    /* footer background */
  --color-blog: #042c54;      /* blog background */
  --color-text: #81afdd;      /* text color */
  --color-subtext: #ff8a71;   /* highlighted subtext color */
  --color-white: #ffff;
}

/* OPTIONAL: using variables in Tailwind with custom utilities */
.bg-theme {
  background-color: var(--color-bg);
}
.text-theme {
  color: var(--color-text);
}
.text-sub {
  color: var(--color-subtext);
}

.text-white {
  color: var(--color-white);
}

/* html, body {
  overflow-x: hidden !important;
} */
