.languages {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-bubble,
.input-area textarea {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  max-width: 400px;
  margin-top: 20px;
}
.app-frame {
  border: 2px solid #aaa;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* or any desired width */
  margin: 40px auto; /* center the frame on the page */
  background-color: #fff;
}
button,
.voice-dropdown select {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover,
.voice-dropdown select:hover {
  background-color: #ccc;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.input-area textarea {
  width: 100%;
  max-width: 100%;
  height: 100px;
  border: none;
  outline: none;
  resize: none;
}

.voice-dropdown select {
  width: 100px;
}

.media-player {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.media-player h2 {
  font-size: 20px;
}

.media-player-footer {
  display: flex;
  align-items: center;
  gap: 16px;
}
